body {
    margin: 0;
    background: #f2f2f2;
    font-family: Inter, sans-serif;
}

header {
    background: #000;
    color: #fff;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

header img {
    height: 45px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 25px;
}

.card, .side-card {
    background: #fff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}

.card {
    flex: 1;
}

.side-card {
    width: 380px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #000;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

#map {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    background: #ddd;
}

.driver-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
}
