body {
    font-family: Inter, sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background: #000;
    color: white;
}

header nav a {
    color: #fff;
    margin-left: 15px;
}

.logo {
    height: 45px;
}

.booking {
    padding: 15px;
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
}

#map {
    height: 330px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
